@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: rubik;
}

body{
  margin: 0;
  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    input{
      width: 350px;
      height: 45px;
      padding-left: 15px;
      background: #2F4858;
      color: #F6AE2D;
      border-radius: 5px;
      border: 0;
      outline: none;
      &::placeholder{
        color: white;
      }
    }
  }
  .container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    .card{
      width: 350px;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: #2F4858;
      border-radius: 10px;
      padding: 5px;
      .card-header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15px;
        h3{
          color: white;
        }
        h3:nth-child(2){
          color: #F6AE2D;
        }
      }
      .card-image{
        img{
          width: 320px;
          height: 300px;
          object-fit: cover;
          object-position: top;
          border-radius: 10px;
        }
      }
      .card-footer{
        padding: 15px;
        button{
          width: 320px;
          height: 50px;
          background: #F6AE2D;
          color: #2F4858;
          border: 0;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
    .more_card{
      width: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .more_image{
        img{
          width: 300px;
        }
      }
      .more_info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .more_title{
          text-align: center;
          margin-top: 50px;
        }
        .list{
          width: 90%;
          padding: 0;
          li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            margin-bottom: 25px;
            border-bottom: 2px solid #2F4858;
          }
        }
        .list_footer{
          text-align: center;
        }
      }
      .back_btn{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50px;
        top: 50px;
        background: #F6AE2D;
        border: 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}